doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator', content='Hugo 0.79.0')
  title To-Do-List &middot; Bootstrap v5.0
  link(rel='canonical', href='https://getbootstrap.com/docs/5.0/examples/album/')
  // Bootstrap core CSS
  link(href='../assets/dist/css/bootstrap.min.css', rel='stylesheet')
  style.
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
    }
    .list {
      margin-top: 10%;
    }
header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    .container
      a.navbar-brand.d-flex.align-items-center(href='#')
        strong To-Do-List
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-md-0
          li.nav-item.active
            a.nav-link(aria-current='page', href='#') Add
          li.nav-item
            a.nav-link(href='#') List
          li.nav-item
            a.nav-link(href='#', tabindex='-1', aria-disabled='true') Delete

main.list
  section.py-5.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light My List
        p.lead.text-muted &#xC544;&#xB798; &#xBC84;&#xD2BC;&#xC744; &#xD074;&#xB9AD;&#xD574;&#xC11C; &#xBAA9;&#xB85D;&#xC744; &#xCD94;&#xAC00;&#xD558;&#xC138;&#xC694;.
        // 할일 등록
        form#add_form(action='/add' method='post')
          //onsubmit='return confirm("정말 추가하시겠습니까?")'
          input.name.form-control(type='text', placeholder='제목', name='list_name')
          br
          input#add_date.form-control(type='date', placeholder='기한', name='list_date')
          br
          input.form-control(type='text', placeholder='내용', name='list_memo')
          br
          button.btn.btn-primary(type='button', onclick="javascript:add_btn()") Add

  h2(style = 'margin : 5%') 오늘 할일 : #{time}
  .album.py-5.bg-light
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
        -for(let i = 0 ; i < list.length; i++)
          if list[i].list_on !== 0 && list[i].list_dday === time && list[i].list_status === 'Doing'
            .col
              .card.shadow-sm
                .card-body
                  h3 #{list[i].list_name}
                  small.text-muted D-Day : #{list[i].list_dday}
                  br
                  br
                  p.card-text #{list[i].list_memo}
                  br
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      //수정
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:edit_name('"+list[i].list_index+"')") Edit
                      // 삭제
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:send_name('"+list[i].list_index+"')") Delete
                    small.text-muted #{list[i].list_status} &nbsp;&nbsp;
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:done_name('"+list[i].list_index+"')") &nbsp;&nbsp;&nbsp;
  br
  h2(style = 'margin : 5%') 남은 할일
  .album.py-5.bg-light
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3

        -for(let i = 0 ; i < list.length; i++)
          if list[i].list_on !== 0 && list[i].list_status === 'Doing' && list[i].list_dday > time
            .col
              .card.shadow-sm
                .card-body
                  h3 #{list[i].list_name}
                  small.text-muted D-Day : #{list[i].list_dday}
                  br
                  br
                  p.card-text #{list[i].list_memo}
                  br
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      //수정
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:edit_name('"+list[i].list_index+"')") Edit
                      // 삭제
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:send_name('"+list[i].list_index+"')") Delete
                    small.text-muted #{list[i].list_status} &nbsp;&nbsp;
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:done_name('"+list[i].list_index+"')") &nbsp;&nbsp;&nbsp;
  br
  h2(style = 'margin : 5%') 완료
  .album.py-5.bg-light
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3

        -for(let i = 0 ; i < list.length; i++)
          if list[i].list_on != 0 && list[i].list_status === 'Done'
            .col
              .card.shadow-sm
                .card-body
                  h3 #{list[i].list_name}
                  small.text-muted D-Day : #{list[i].list_dday}
                  br
                  br
                  p.card-text #{list[i].list_memo}
                  br
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      //수정
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:edit_name('"+list[i].list_index+"')") Edit
                      // 삭제
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:send_name('"+list[i].list_index+"')") Delete
                    small.text-muted #{list[i].list_status} &nbsp;&nbsp;
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:done_name('"+list[i].list_index+"')") &nbsp;&nbsp;&nbsp;

  br
  h2(style = 'margin : 5%') 완료 실패
  .album.py-5.bg-light
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3

        -for(let i = 0 ; i < list.length; i++)
          if list[i].list_on != 0 && list[i].list_status === 'Failed'
            .col
              .card.shadow-sm
                .card-body
                  h3 #{list[i].list_name}
                  small.text-muted D-Day : #{list[i].list_dday}
                  br
                  br
                  p.card-text #{list[i].list_memo}
                  br
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      //수정
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:edit_name('"+list[i].list_index+"')") Edit
                      // 삭제
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:send_name('"+list[i].list_index+"')") Delete
                    small.text-muted #{list[i].list_status} &nbsp;&nbsp;
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="javascript:done_name('"+list[i].list_index+"')") &nbsp;&nbsp;&nbsp;

footer.text-muted.py-5
script(src='../assets/dist/js/bootstrap.bundle.min.js')

// 삭제 데이터 전송
script.
  function send_name(namedata) {
    if (confirm("정말 삭제하시겠습니까??") === true){    //확인
      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/delete");
      var post = document.createElement("input");
      post.setAttribute("type", "hidden");
      post.setAttribute("name", "delete_index");
      post.setAttribute("value", namedata);
      form.appendChild(post);
      document.body.appendChild(form);
      form.submit();
    }else{   //취소
        return;
    }
  }

  function done_name(namedata) {
    if (confirm("정말 완료하겠습니까??") === true){    //확인
      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/done");
      var post = document.createElement("input");
      post.setAttribute("type", "hidden");
      post.setAttribute("name", "done_index");
      post.setAttribute("value", namedata);
      form.appendChild(post);
      document.body.appendChild(form);
      form.submit();
    }else{   //취소
        return;
    }
  }


// 수정 데이터 전송
script.
  function edit_name(namedata) {
    //- window.open("/edit", "a", "width=500, height=500, left=100, top=100");
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/edit");
    var post = document.createElement("input");
    post.setAttribute("type", "hidden");
    post.setAttribute("name", "edit_index");
    post.setAttribute("value", namedata);
    form.appendChild(post);
    document.body.appendChild(form);
    form.submit();
  }

// add
script.
  function add_btn() {
    if(confirm("정말 추가하겠습니까??") === true){
      if(document.getElementById('add_date').value === ''){
        alert("내용을 입력하세요!");
        return;
      }
      else{
        document.getElementById('add_form').submit();
      }
    }
    else{
      return;
    }
  }